body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4; /* 浅灰色背景 */
    color: #333; /* 深灰色字体 */
}

h1 {
    background-color: #28a745; /* 绿色背景 */
    color: white;
    padding: 1rem;
}

form button {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    background-color: #28a745; /* 绿色按钮 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838; /* 按钮的悬停颜色 */
}

#password-list li {
    background-color: #ffffff; /* 白色背景 */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
