body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #007bff;
    color: white;
    padding: 1rem;
}

#password-list {
    margin: 1rem auto;
    padding: 0;
    list-style-type: none;
    max-width: 600px;
    text-align: left;
}

#password-list li {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#password-list li a {
    color: #007bff;
    text-decoration: none;
}

#password-list li a:hover {
    text-decoration: underline;
}

form {
    margin: 1rem auto;
    max-width: 600px;
}

form input {
    margin: 0.5rem 0;
    width: calc(100% - 20px);
    padding: 0.5rem;
}

form button {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
}
